<div class="page login-page">
    <div class="container" ng-controller="signinCtrl">
        <div class="form-outer text-center align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase">
                    <span>Consultas</span><strong class="text-primary">Externas</strong>
                </div>
                <!--<p>Lorem ipsum.</p>-->
                <form id="login-form" method="post">
                    <div class="form-group">
                        <label for="login-username" class="label-custom"></label>
                        <input placeholder="User" id="login-username" ng-model="user.email" type="text" name="loginUsername" required="">
                    </div>
                    <div class="form-group">                        
                        <input placeholder="Password" id="login-password" type="password" name="loginPassword" ng-model="user.password" required="">
                    </div>
                    <div class="form-group">
                        <button id="login" type="submit" ng-click="login()" class="btn btn-primary pull-right">                            
                            <span>Login</span><i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
            
                </form>
                <a href="#" class="forgot-pass">Forgot Password?</a>
                    <small>Do not have an account? </small>
                   <a ui-sref="register" class="signup">Signup</a>
            </div>
        </div>
    </div>
</div>    