<style>
    #Rform{
        position: relative;
        z-index: 0;
        
    }
    #Rform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
	width: 90%;
	margin: 5% 5% 5% 5%;	
	/*stacking fieldsets above each other*/
	position: relative;
    }
    /*Hide all except first fieldset*/
    #Rform fieldset:not(:first-of-type) {
        display: none;
    }
    /*inputs*/
    #Rform input{
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 0px;
            width: 100%;
            box-sizing: border-box;
            color: #2C3E50;
            font-size: 13px;
            text-align: left;
    }

    #Rform input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: lightgray;
    }
    #Rform input::-moz-placeholder { /* Firefox 19+ */
         color: lightgray;
    }
    #Rform input:-ms-input-placeholder { /* IE 10+ */
        color: lightgray;
    }
    #Rform input:-moz-placeholder { /* Firefox 18- */
         color: lightgray;
    }
    
    #Rform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 2px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
        text-align: center;
    }
    #Rform .action-button:hover, #Rform.action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    }
    #progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
    }
    #progressbar li {
	list-style-type: none;
	color: #2b90d9;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #2b90d9;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
    }
    #progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
    }
    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    #progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
    }

    .msg-block {
        margin-top:0px;
        text-align: left;
        padding: 0px;
    }
    .msg-error {
        color:#F00;
        font-size:11px;
    }
</style>
<div class="page register-page"  ng-controller="signupCtrl">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase"><span>consults</span><strong class="text-primary">Externas</strong></div>
                <p>Formulario de Registro de Usuario. </p>
                <form id="Rform" registerform >  
                    <ul id="progressbar">
                      <li class="active">Account Setup</li>
                      <li>Social Profiles</li>
                      <li>Personal Details</li>
                    </ul>
                    <fieldset >  
                        <input type="email" placeholder="Correo" id="email" ng-model='user.email' ng-required="true" required>                                
                        <input placeholder="Contraseña" type="password" id='pw1' name='pw1'  ng-model='pw1' required ng-required="true">
                        <input placeholder="Comprobar Contraseña"  type="password" id='pw2' name='pw2'  ng-model='pw2' required ng-required pw-check='pw1'>
                        <div class='msg-block' ng-show='error'>
                            <span class='msg-error' ng-show='error'>Las contraseñas no coinciden.</span>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />     
                    </fieldset>
                    <fieldset>
                        <input type="text" name="twitter" placeholder="Twitter" />
                        <input type="text" name="facebook" placeholder="Facebook" />
                        <input type="text" name="gplus" placeholder="Google Plus" />
                        <input type="button" name="previous" class="previous action-button" value="Previous"/>
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <input type="text" name="fname" placeholder="First Name" />
                        <input type="text" name="lname" placeholder="Last Name" />
                        <input type="text" name="phone" placeholder="Phone" />
                        <div class="terms-conditions d-flex justify-content-center">
                            <input id="license" type="checkbox" class="form-control-custom">
                            <label for="license">Agree the terms and policy</label>
                        </div>
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="submit" name="submit" class="submit action-button" value="Register" submitform/>
                    </fieldset>
                    <!--<input id="register" type="submit" value="Register" class="btn btn-primary">-->
                </form>
                <small>Already have an account? </small><a ui-sref="login" class="signup">Login</a>
            </div>
            <div class="copyrights text-center">
                <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</div>
